
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #0057b8;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.dashboard-container {
    display: flex;
}

.dashboard-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    padding: 20px;
    background: #fee040;
    height: 100vh;
    color: white;
}

.dashboard-buttons button {
    background: #0057b8;
    border: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}


.main-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.hero-section {
    text-align: center;
    margin-bottom: 30px;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card button {
    background: #218838;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.inventory-section {
    margin-top: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inventory-section h2 {
    text-align: center;
    color: #110f0f;
    margin-bottom: 20px;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.inventory-table th, .inventory-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.inventory-table th {
    background: #0057b8;
    color: white;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.edit-btn {
    background: #28a745;
    color: white;
}

.edit-btn:hover {
    background: #218838;
}

.delete-btn {
    background: #dc3545;
    color: white;
}

.delete-btn:hover {
    background: #c82333;
}
.back-button-container {
    text-align: left;
    margin-bottom: 15px;
}

.back-btn {
    padding: 8px 12px;
    background: #fee040;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}


