RewriteEngine On
RewriteBase /SYSTEM-SA-MGA-GWAPO/api/

RewriteRule ^ index.php [L]

# Set CORS headers
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Authorization, Content-Type" 